<form class="edit-bill hidden bill-form form-horizontal" role="form">

  <div class="edit-form"></div>
  <div>
    <button class="pull-right cancel-bill-edit btn btn-orange btn-sm" type="submit">
      Cancel
    </button>
  </div>

  <div>
    <button class="pull-right btn-pull-right update-bill submit-bill btn
      btn-mint btn-sm" type="submit">
      Update Bill
    </button>
  </div>

</form>






