<% if (bill.escape('creditor_id') == user.id) { %>
<div>
  <button class="bill-edit-btn btn btn-sm btn-primary" data-id="<%=
    bill.id %>" type="submit">Edit bill</button>
</div>
<% } %>

<form class="edit-bill hidden bill-form form-horizontal" data-id="<%=
  bill.get('id') %>" role="form">

  <div class="edit-form"></div>
  <div class="errors-show">
    
  </div>
  <div>
    <button class="pull-right cancel-bill-edit btn btn-orange btn-sm" type="submit">
      Cancel
    </button>
  </div>

  <div>
    <button class="pull-right btn-pull-right update-bill submit-bill btn
      btn-mint btn-sm" type="submit">
      Update Bill
    </button>
  </div>

</form>






