<form class="edit-bill hidden bill-form form-horizontal" role="form">

  <div class="edit-form"></div>

  <button class="update-bill submit-bill btn btn-primary btn-sm" type="submit">
    Update Bill
  </button>

  <button class="cancel-bill-edit btn btn-danger btn-sm" type="submit">
    Cancel
  </button>
</form>






