<form class="add-bill hidden" >
  <label>Bill Name: 
    <input type="text" name="bill[name]" id="" value="<%=
    bill.get('name') %>" />
  </label>

  <label>Bill Amount: 
    <input type="number" name="bill[amount]" id="" value="<%=
    bill.get('amount')" />
  </label>

  <button class="create-bill" type="submit">Create Bill</button>
</form>
<button class="add-bill" type="submit">Add Bill</button>


