<button class="add-bill btn btn-primary btn-sm pull-right" type="submit">Add Bill</button>
<form class="add-bill hidden bill-form form-horizontal" role="form">

  <div class="new-form"></div>

  <button class="create-bill submit-bill btn btn-primary btn-sm" type="submit">
    Create Bill
  </button>

  <button class="cancel-bill-new btn btn-danger btn-sm" type="submit">
    Cancel
  </button>
</form>






