<button class="add-bill btn btn-primary btn-sm pull-right" type="submit">Add Bill</button>

<form class="add-bill hidden bill-form form-horizontal" role="form">

  <div class="new-form"></div>

  <div><ul class="errors-show"></ul></div>

  <div>
    <button class="cancel-bill-new pull-right btn btn-orange btn-sm" type="submit">
      Cancel
    </button>
  </div>

  <div>
    <button class="create-bill btn-pull-right pull-right btn-float-right submit-bill
      btn btn-mint btn-sm" type="submit">
      Create Bill
    </button>
  </div>

</form>






