<form class="add-bill hidden" >
  <label>Date: 
    <input type="date" name="bill[date]" id="" value="" />
  </label>

  <label>Bill Name: 
    <input type="text" name="bill[name]" id="" />
  </label>

  <label>Bill Amount: 
    <input type="number" name="bill[amount]" id=""/>
  </label>

  <label>With: 
    <div class="debtor-selects"></div>
  </label>
    
  <a href="#" class="add-debtor">Add Payee</a>
    
  <button class="create-bill" type="submit">Create Bill</button>
</form>
<button class="add-bill" type="submit">Add Bill</button>



