<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-8">
      <div class="row">
        <h1><i class="fa fa-scissors fa-3x"></i>Welcome to SplitMyBills!</h1>
        <div>
          An app for keeping track of shared expenses with roommates,
          friends, and anyone else who might forget to pay you back!
        </div>
        <ul>
          <li>Keep track of all shared bills</li>
          <li>View the total amount you owe or your friends</li>
          <li>Send out reminder emails</li>
        </ul>
        <a href="/guest" id="sign_up" class="btn btn-large btn-orange">
        Log in as a guest »
        </a>  
      </div>
    </div>
    

  </div>
</div>

