<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-8">
      <div class="row">
        <h2>Welcome to SplitMyBills!</h2>
      </div>
    </div>
    <li><%= link_to "Sign In", new_session_url %></li> 
    <li><%= link_to "Sign up", new_user_url %></li>
    <%= link_to "Sign in as guest", guest_url %>

  </div>
</div>

