<div class="modal fade" id="inviteFriendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invite a friend to
          join SplitMyBills!</h4>
      </div>
      <div class="modal-body">
        <%= JST["users/form"]() %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          data-dismiss="modal">Cancel</button>
        <button type="button" class="send-friend-invite btn btn-primary">Send Email</button>
      </div>
    </div>
  </div>
</div>

<button class="friend-invite btn btn-primary btn-sm pull-right"
  data-toggle="modal" data-target="#inviteFriendModal"
    type="submit">Invite Friends!</button>
