<h2>
  Friends
</h2>

<!-- <div> -->
<!--   <input type="text" class="form&#45;control" placeholder="Search for friends..."> -->
<!-- </div> -->

<div class="friend-invite"></div>

<table class="table"> 
  <tbody class="friends">
  
    <% friends.each(function(friend) { %>
    <tr><td><a href="#friends/<%= friend.get('id') %>"><%= friend.escape('name') %></a></td></tr>
    <% }) %>
  
  </tbody> 
</table>


