<h2>
  Friends
</h2>

<!-- <div> -->
<!--   <input type="text" class="form&#45;control" placeholder="Search for friends..."> -->
<!-- </div> -->

<div class="friend-invite"></div>

<table class="table"> 
  <tbody class="friends">
  
    <% friends.each(function(friend) { %>
    <tr><td><a href="#friends/<%= friend.get('id') %>"><%=
          friend.escape('name') %></a></td>
    
      <% debtor = friend.escape('net_owed_to') < 0 ? "text-success" : "debit"  %>
      <td class="<%= debtor %>"><%= accounting.formatMoney(Math.abs(friend.escape('net_owed_to'))) %></td>
    </tr>
    <% }) %>
  
  </tbody> 
</table>


