<h2>
  Friends
</h2>

<div>
  <input id="search-friends" type="text" class="form-control" placeholder="Search for friends...">
</div>

<div class="friend-invite"></div>

<table class="table"> 
  <tbody class="friends">
  
    <% friends.each(function(friend) { %>
      <tr>
        <td>
          <h4>
            <a href="#friends/<%= friend.get('id') %>"><%=friend.escape('name') %></a>
          </h4>
        </td>
      
        <% debtor = friend.escape('net_owed_to') < 0 ? "text-success" : "debit"  %>

      </tr>
    <% }) %>
  
  </tbody> 
</table>


