<h2>
  <%= user.escape('name') %>'s Bills 

    <% debtor = (user.escape('net_balance') > 0) %>
    (<%= debtor ? "You're owed" : "You owe"  %>
    <span class="<%= debtor ? 'text-success' : 'text-failure' %>">
      <%= accounting.formatMoney(user.escape('net_balance')) %>
    </span>)

</h2>
<div class="new"></div>  
<div class="bills-index"></div>


