<h2>
  <%= user.get('name') %>'s Bills 

  <% if (showAddBillButton) { %>
    <button class="add-bill btn btn-primary btn-sm pull-right" type="submit">Add Bill</button>
  <% } %>
</h2>
<div class="new"></div>  
<table class="table"> 
  <tbody class="bills"></tbody> 
</table>


