<td>

  <h4>
    
    <span class="pull-right">
        <% debtor = (debtorsBill.escape('debtor_id') === currentUserID) %>
        <%= debtor ? "You're owed" : "You owe"  %>
        <span class="<%= debtor ? 'text-success' : 'debit' %>">
          <%= accounting.formatMoney(Math.abs(debtorsBill.escape('amount_owed'))) %>
        </span>
    </span>
  
  </h4>

</td>


