/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

h1.big-header {

  font-size: 600%;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }


.debtor-selects {
    .col-md-6 { padding: 0 15px; }
    .form-control { float: right;
                    width: 50% 
                    }
    .close { padding: 0 10px 10px }
}

.errors-show { 
    color: #a94442;
}

.add-debtor { margin-right: 15px }

.white {
 color:white
}
.btn-pull-right {
    margin-right: 5px;
}
.btn-mint  {
background: #5bc5a7;
color: #fff;
text-shadow: 0 -1px 0 #318970;
}
.btn-orange {
background: #ff652f;
color: #fff;
text-shadow: 0 -1px 0 #c83400;
}
.navbar brand {
    color:white;
}

.text-success {
    
    color: #5bc5a7;
}

.debit { color: #d43f3a;}
btn-danger {
  color: white;
  background: #ff652f;
}
.input-group-addon:first-child {
border-right: 0;
}
.text-failuer {
   color: ff652f
}
a {
    color: #999;
text-decoration: none;
}

body {
  padding-top: 50px;

}

