<select name="bill[debtor_ids][]" id="">
  <% friends.forEach(function(friend) { %>
    <option value="<%= friend.get('id') %>">
      <%= friend.escape('name')%>
    </option>
  <% }) %>
</select>

<input type="number" name="bill[debtor_pcts[]" id="" value="" />


