<select class="form-control chosen-select" name="bill[debtor_ids][]" >
  <% friends.forEach(function(friend) { %>
    <option value="<%= friend.get('id') %>" >
      <%= friend.escape('name') %>
    </option>
  <% }) %>
</select>

<input class="form-control pull-right" type="number" name="bill[debtor_pcts[]" id="" value="" />
  <span class="input-group-addon">%</span>
<button type='button' class='close' data-dismiss='alert'>×</button>

