  <select class="form-control" name="bill[debtor_ids][]" id="">
    <% friends.forEach(function(friend) { %>
      <option value="<%= friend.get('id') %>">
        <%= friend.escape('name')%>
      </option>
    <% }) %>
  </select>

    
  <input class="form-control pull-right" type="number" name="bill[debtor_pcts[]" id="" value="" />
  <button type='button' class='close' data-dismiss='alert'>×</button>

